<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />

        <!-- PrimeVue -->
        <link href="https://unpkg.com/primevue@^3/resources/themes/saga-blue/theme.css" rel="stylesheet" />
        <link href="https://unpkg.com/primevue@^3/resources/primevue.min.css" rel="stylesheet" />
        <link href="https://unpkg.com/primeflex@2.0.0/primeflex.min.css" rel="stylesheet" />
        <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />

        <!-- Dependencies -->
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>

        <!-- Demo -->
        <script src="https://unpkg.com/primevue@^3/datatable/datatable.min.js"></script>
        <script src="https://unpkg.com/primevue@^3/column/column.min.js"></script>
        <script src="https://unpkg.com/primevue@^3/dropdown/dropdown.min.js"></script>
		<script src="https://unpkg.com/primevue@^3/textarea/textarea.min.js"></script>
    </head>
    <body>
        <div id="app" class="p-fluid card">
            <div class="card">
                <p-datatable :value="data1"
				edit-mode="cell"
				@cell-edit-complete="onCellEditComplete"
				class="editable-cells-table"
				responsive-layout="scroll"
				:scrollable="true"
				scrollHeight="400px">
					<p-column field="pid" header="PID" style="width: 30%;">
                        <template #editor="{ data, field }">
                            <p-inputtext v-model="data[field]" autofocus></p-inputtext>
                        </template>
					</p-column>
					<p-column field="raw" header="Raw" style="width: 60%;">
						<template #editor="{ data, field }">
                            <p-textarea v-model="data[field]" autofocus></p-textarea>
                        </template>
					</p-column>
					<p-column field="status" header="Status" style="width:10%;"></p-column>

                </p-datatable>
            </div>
        </div>

<script type="module">
	export default class DataService {
		getData() {
			return fetch('data.json').then(res => res.json()).then(d => d.data);
		}
	}

	const { createApp, ref, onMounted } = Vue;

	const App = {
		setup() {
			onMounted(() => {
				dataService.value.getData().then(data => data1.value = data);
			});

			const dataService = ref(new DataService());
			const columns = ref([
				{field: 'raw', header: 'Raw'},
				{field: 'pid', header: 'PID'},
				{field: 'status', header: 'Status'}
			]);
			const data1 = ref(null);
			const onCellEditComplete = (event) => {
				let { data, newValue, field } = event;
				if (newValue.trim().length > 0) {
					data[field] = newValue;
				}
				else {
					event.preventDefault();
				}
			};

			return {
				dataService,
				columns,
				data1,
				onCellEditComplete
			}
		},
		components: {
			"p-datatable": primevue.datatable,
			"p-column": primevue.column,
			"p-inputtext": primevue.inputtext,
			"p-textarea": primevue.textarea
		}
	};

	createApp(App)
		.use(primevue.config.default)
		.mount("#app");
</script>

    </body>
</html>
